
* {
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
    
}
.p-style{
    width: 500px;
    text-align: justify;
    background-color: red;
    color: white;
    padding: 20px;
    box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.412);
    border-radius: 5px;
    font-size: 20px;
}

.list-item{
    border: 1px solid black;
    display: inline-block;
    width: 400px;
    padding: 20px;
    font-size: 20px;
}
 
.webpage{

    background-image: url(img/slider1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}
.webpage2{
    
}
.webP{
    width: 350px;
    color: aqua;
    font-size: 20px;
}
button{
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 3px;
    background: linear-gradient( 50deg,rgb(250, 1, 130),rgb(0, 225, 237),rgb(26, 24, 1));
    color: white;
    cursor: pointer;
    
     
    
}
button:hover{
    background: #000;
    color: white;
    transition: all .5s;
}